<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
        integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
        crossorigin="anonymous"></script>
</head>

<body>
    <div id="wrap" style="display:none;border:1px solid;margin:5px 0;position:relative;"></div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    $(document).ready(sample3_execDaumPostcode());
    // 우편번호 찾기, 찾기 화면을 넣을 element
    var element_wrap = document.getElementById('wrap');
    var addr;
    function sample3_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: (data) => {
                // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }
                alert(addr);
            },
        }).embed(element_wrap);
    }
</script>
<style>
    .container {
        align-content: center;
        justify-content: center;
    }

    .login-box {
        background-color: rgba(200, 200, 200, 0.5);
        width: 50vw;
        height: 400px;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        border-radius: 5px;
    }

    .login-box-title {
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: rgba(55, 55, 55, 1);
    }

    .login-form {
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    input[type=text],
    input[type=password] {
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }

    button[type=button] {
        background-color: rgba(255, 93, 134, 1);
        color: white;
        padding: 12px 20px;
        margin: 8px 0;
        border: rgba(255, 255, 255, 1);
        border-radius: 4px;
        cursor: pointer;
    }

    button[type=button]:hover {
        background-color: rgb(240, 87, 125);
    }
</style>

</html>