<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
        integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="login-box">
                <div class="login-box-title">
                    로그인
                </div>
                <div class="login-form">
                    <input id='login-id' type='text' placeholder="사용자 아이디" />
                    <input id='login-pw' type='password' placeholder="사용자 비밀번호" />
                    <button id='login-btn' type='button'>로그인</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $('#login-btn').click( async () => {
        var userid = document.getElementById('login-id').value;
        var userpw = document.getElementById('login-pw').value;
        try {
            let response = await fetch ('http://localhost:80/admin/confirm', {
                method : 'POST',
                headers : {
                    'Content-Type' : 'application/json',
                },
                body : JSON.stringify({userid : userid, userpw : userpw})
            })
            let json = await response.json();
            if (response.ok) {
                var status = 0;
                switch (status) {
                    case 0 :
                        window.location.href = 'http://localhost:80/admin/dashboard'
                }
            } else {
                alert('로그인 실패')
            }
        } catch (err) {
            console.log(err)
        }
    })
</script>
<style>
    .container {
        align-content: center;
        justify-content: center;
    }

    .login-box {
        background-color: rgba(200, 200, 200, 0.5);
        width: 50vw;
        height: 400px;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        border-radius: 5px;
    }

    .login-box-title {
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: rgba(55, 55, 55, 1);
    }

    .login-form {
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    input[type=text],
    input[type=password] {
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }

    button[type=button] {
        background-color: rgba(255, 93, 134, 1);
        color: white;
        padding: 12px 20px;
        margin: 8px 0;
        border: rgba(255, 255, 255, 1);
        border-radius: 4px;
        cursor: pointer;
    }

    button[type=button]:hover {
        background-color: rgb(240, 87, 125);
    }
</style>

</html>