<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>이루와 로그인 확인</title>
</head>

<body>
    <h3>이루와 앱에 회원가입 되셨습니다.</h3>
    <div>이제 이루와 앱에 로그인이 가능합니다.</div>
</body>

</html>