<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://mostfeel.site:8888/static/stylesheets/css/style.css" type="text/css" rel="stylesheet" />
    <!-- Favicon -->
    <!-- Favicon and Touch Icons -->
    <link href="https://mostfeel.site:8888/static/images/web_images/favicon.png" rel="shortcut icon" type="image/png">
    <link href="https://mostfeel.site:8888/static/images/web_images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://mostfeel.site:8888/static/images/web_images/apple-touch-icon-72x72.png" rel="apple-touch-icon"
        sizes="72x72">
    <link href="https://mostfeel.site:8888/static/images/web_images/apple-touch-icon-114x114.png" rel="apple-touch-icon"
        sizes="114x114">
    <link href="https://mostfeel.site:8888/static/images/web_images/apple-touch-icon-144x144.png" rel="apple-touch-icon"
        sizes="144x144">
    <title>Classifly - Classified Ads HTML Template</title>
    <style>
        .cflyformtheme {
            margin: 0 0 0 0;
        }

        .gradient-overlay-half-primary-v1::after {
            background-color: #ffffff;
        }
    </style>
</head>

<body>
    <header class="header-static navbar-sticky navbar-light shadow">
        <!-- Navbar top start-->
        <div class="navbar-top d-none d-lg-block">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                    </div>

                    <div class="d-flex align-items-center">
                        <div class="dropdown"> <a class="dropdown-toggle" href="#" role="button" id="dropdownAccount"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                    class="far fa-user mr-2"></i>Account </a>
                            <div class="dropdown-menu mt-2 shadow" aria-labelledby="dropdownAccount"><a
                                    class="dropdown-item" href="#">Logout</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar top End-->

        <!-- Logo Nav Start -->
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <!-- Logo -->
                <a class="navbar-brand" href="https://mostfeel.site:8888/admin/main"> <img
                        src="https://mostfeel.site:8888/static/images/web_images/logo.png"
                        style="width: 60px; height: 60px;" alt="iruwa"> <strong>IRUWA</strong> </a>
                <!-- Menu opener button -->
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation"> <span class="navbar-toggler-icon"> </span> </button>
                <!-- Main Menu Start -->
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        <!-- Menu item 1 Demos-->
                        <li class="nav-item">
                            <a class="nav-link" href="https://mostfeel.site:8888/admin/main">홈</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://mostfeel.site:8888/admin/list">업체 목록</a>
                        </li>
                        <li class="nav-item active dropdown"> <a class="nav-link dropdown-toggle" href="#" id="docMenu"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">대쉬보드</a>
                            <ul class="dropdown-menu" aria-labelledby="docMenu">
                                <li><a class="dropdown-item" href="https://mostfeel.site:8888/admin/category">카테고리
                                        관리</a></li>
                                <li><a class="dropdown-item" href="https://mostfeel.site:8888/admin/service">서비스 관리</a>
                                </li>
                                <li><a class="dropdown-item" href="https://mostfeel.site:8888/admin/images">이미지 관리</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Main Menu End -->
            </div>
        </nav>
        <!-- Logo Nav End -->
    </header>

    <div class="innerpage-banner left bg-overlay-dark-7 py-7"
        style="background:url(https://mostfeel.site:8888/static/images/web_images/07.jpg) repeat; background-size:cover;">
        <div class="container">
            <div class="row all-text-white">
                <div class="col-md-12 align-self-center">
                    <h1 class="innerpage-title">서비스 관리</h1>
                    <h6 class="subtitle">공지사항, 검색 금지어를  관리하는 페이지입니다.</h6>
                </div>
            </div>
        </div>
    </div>

    <section class="pt80 pb80">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 mb-5">
					<h5 class="text-center mb-4">공지사항 목록</h5>
					<div class="table-responsive-sm">
						<table class="table table-lg table-noborder table-striped">
							<thead class="all-text-white bg-grad">
								<tr>
									<th scope="col">#</th>
									<th scope="col">제목</th>
									<th scope="col">내용</th>
									<th scope="col">삭제</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
    </section>
    <section class="pt80 pb80 eleform">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
    
              <!-- Email -->
              <div class="form-group">
    
                <input class="form-control" type="email" placeholder="Email">
              </div>
    
              <!-- Textarea -->
              <div class="form-group">
    
                <textarea class="form-control" rows="5" placeholder="Example textarea"></textarea>
              </div>
            </div>
          </div>
        </div>
      </section>

        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <div class=" col-xl-3 col-xl-3 col-md-3 col-sm-6 col-xs-12 col-12">
                        <div class="footer-col row">
                            <div class="col-sm-12 col-xs-6 col-xxs-12 no-padding-lg">
                                <div class="mobile-app-content">
                                    <h4 class="footer-title">Mobile Apps</h4>
                                    <div class="row ">
                                        <div class="col-6  "> <a class="app-icon" target="_blank"
                                                href="https://itunes.apple.com/"> <img
                                                    src="https://mostfeel.site:8888/static/images/web_images/app_store_badge.svg"
                                                    alt="Available on the App Store"> </a> </div>
                                        <div class="col-6  "> <a class="app-icon" target="_blank"
                                                href="https://play.google.com/store/">
                                                <img src="https://mostfeel.site:8888/static/images/web_images/google-play-badge.svg"
                                                    alt="Available on the App Store"> </a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                    <div class="col-xl-12">
                        <div class=" text-center paymanet-method-logo">
                            <div class="copy-info text-center"> © 2019 Classifly. All Rights Reserved. </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://mostfeel.site:8888/static/javascripts/js/jquery.min.js" type="text/javascript"></script>
    <script src="https://mostfeel.site:8888/static/javascripts/js/popper.min.js" type="text/javascript"></script>
    <script src="https://mostfeel.site:8888/static/javascripts/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://mostfeel.site:8888/static/javascripts/js/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="https://mostfeel.site:8888/static/javascripts/js/imagesloaded.pkgd.min.js"
        type="text/javascript"></script>
    <script src="https://mostfeel.site:8888/static/javascripts/js/functions.js" type="text/javascript"></script>
    <script src="https://mostfeel.site:8888/static/javascripts/js/owl.carousel.min.js" type="text/javascript"></script>
    <script src="https://mostfeel.site:8888/static/javascripts/js/slick.js" type="text/javascript"></script>
    <script src="https://mostfeel.site:8888/static/javascripts/js/swiper.min.js" type="text/javascript"></script>
    <script src="https://mostfeel.site:8888/static/javascripts/js/main.js" type="text/javascript"></script>
</body>

</html>