<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link href="https://mostfeel.site:8888/static/stylesheets/css/style.css" type="text/css" rel="stylesheet" />
<!-- Favicon -->
<!-- Favicon and Touch Icons -->
<link href="https://mostfeel.site:8888/static/images/web_images/favicon.png" rel="shortcut icon" type="image/png">
<link href="https://mostfeel.site:8888/static/images/web_images/apple-touch-icon.png" rel="apple-touch-icon">
<link href="https://mostfeel.site:8888/static/images/web_images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
<link href="https://mostfeel.site:8888/static/images/web_images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
<link href="https://mostfeel.site:8888/static/images/web_images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
<title>Classifly - Classified Ads HTML Template</title>
</head>
<body>

<!-- =======================
	header Start-->
  <header class="header-static navbar-sticky navbar-light shadow">
    <!-- Navbar top start-->
    <div class="navbar-top d-none d-lg-block">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
          </div>

          <div class="d-flex align-items-center">
            <div class="dropdown"> <a class="dropdown-toggle" href="#" role="button" id="dropdownAccount"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                  class="far fa-user mr-2"></i>Account </a>
              <div class="dropdown-menu mt-2 shadow" aria-labelledby="dropdownAccount"><a class="dropdown-item"
                  href="#">Logout</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Navbar top End-->

    <!-- Logo Nav Start -->
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" href="https://mostfeel.site:8888/admin/main"> <img src="https://mostfeel.site:8888/static/images/web_images/logo.png"
            style="width: 60px; height: 60px;" alt="iruwa"> <strong>IRUWA</strong> </a>
        <!-- Menu opener button -->
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"> <span
            class="navbar-toggler-icon"> </span> </button>
        <!-- Main Menu Start -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <!-- Menu item 1 Demos-->
            <li class="nav-item active">
              <a class="nav-link" href="https://mostfeel.site:8888/admin/main">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://mostfeel.site:8888/admin/list">Company List</a>
            </li>
            <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="docMenu"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dashboard</a>
                <ul class="dropdown-menu" aria-labelledby="docMenu">
                  <li><a class="dropdown-item" href="dashboard.html">카테고리 관리</a></li>
                  <li><a class="dropdown-item" href="dashboard-myads.html">공지사항 관리</a></li>
                  <li><a class="dropdown-item" href="dashboard-myfavourites.html">프리미엄 광고 관리</a></li>
                  <li><a class="dropdown-item" href="dashboard-offermessages.html">검색 금지어 관리</a></li>
                  <li><a class="dropdown-item" href="dashboard-payments.html">이미지 관리</a></li>
                </ul>
            </li>
          </ul>
        </div>
        <!-- Main Menu End -->
      </div>
    </nav>
    <!-- Logo Nav End -->
  </header>
<!-- =======================
	header End--> 

<!-- =======================
	Banner innerpage -->
<div class="innerpage-banner left bg-overlay-dark-7 py-7" style="background:url(https://mostfeel.site:8888/static/images/web_images/07.jpg) repeat; background-size:cover;">
  <div class="container">
    <div class="row all-text-white">
      <div class="col-md-12 align-self-center">
        <h1 class="innerpage-title">Forms</h1>
        <h6 class="subtitle">Fusce iaculis ex sed nulla commodo imperdiet. Proin sed rhoncus ligula.</h6>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="index.html"><i class="ti-home"></i> Home</a></li>
            <li class="breadcrumb-item">Forms</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- =======================
	Banner innerpage --> 


	<!-- =======================
	Form -->
		<section class="pt80 pb80 eleform">
		<div class="container">
			<div class="row">
				<div class="col-md-6">

					<!-- Email -->
					<div class="form-group">
						
						<input class="form-control" type="email" placeholder="Email">
					</div>

					<!-- Password -->
					<div class="form-group">
						
						<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
					</div>

					<!-- size -->
					<form>
						
						<div class="form-group"><input class="form-control form-control-lg" type="text" placeholder=".form-control-lg"></div>
						<div class="form-group"><input class="form-control" type="text" placeholder="Default input"></div>
						<div class="form-group"><input class="form-control form-control-sm" type="text" placeholder=".form-control-sm"></div>
					</form>

					<!-- Textarea -->
					<div class="form-group">
						
						<textarea class="form-control" rows="5" placeholder="Example textarea"></textarea>
					</div>

					<!-- Select -->
					<div class="form-group">
					
						<select class="custom-select select-big mb-3">
							<option selected="">All locations</option>
							<option value="location1">Chicago, US</option>
							<option value="location2">New York, US</option>
							<option value="location3">Seattle/Kirkland, US</option>
							<option value="location4">Los Angles, US</option>
							<option value="location5">Moscow, Russia</option>
							<option value="location6">Sydney, Australia</option>
							<option value="location7">Birmingham, UK</option>
							<option value="location7">Manchester, UK</option>
							<option value="location8">Beijing, China</option>
						</select>
					</div>
				</div>

				<div class="col-md-6">
					<!-- Multiple select -->
					<div class="form-group">
						<label>Multiple select</label>
						<select class="form-control" multiple="">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>

					<!-- form-group -->
					<form>
						<div class="form-group">
							<label for="exampleFormControlFile1">File input</label>
							<input type="file" class="form-control-file" id="exampleFormControlFile1">
						</div>
					</form>

					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">Upload</span>
						</div>
						<div class="custom-file">
							<input type="file" class="custom-file-input" id="inputGroupFile01">
							<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
						</div>
					</div>

					<!-- checkbox -->
					<label>Checkbox</label>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
						<label class="form-check-label" for="defaultCheck1">
							Default checkbox
						</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
						<label class="form-check-label" for="defaultCheck2">
							Disabled checkbox
						</label>
					</div>

					<!-- custom checkbox -->
					<label class="mt-3">Custom checkbox</label>
					<div class="custom-control custom-checkbox mr-sm-2">
						<input type="checkbox" class="custom-control-input" id="customControlAutosizing">
						<label class="custom-control-label" for="customControlAutosizing">Remember my preference</label>
					</div>

					<label class="mt-3">Radio</label>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
						<label class="form-check-label" for="exampleRadios1">
							Default radio
						</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
						<label class="form-check-label" for="exampleRadios2">
							Second default radio
						</label>
					</div>
					<div class="form-check disabled">
						<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
						<label class="form-check-label" for="exampleRadios3">
							Disabled radio
						</label>
					</div>

					<!-- radio -->
					<label class="mt-4">Custom radio</label><br>
					<div class="custom-control custom-radio">
						<input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
						<label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
					</div>
					<div class="custom-control custom-radio">
						<input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
						<label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
					</div>

				</div>
			</div>
		</div>
	</section>

	<!-- =======================
	Form -->

<div class="gradient-overlay-half-primary-v1">
  <div class="bg-img-hero" style="background-image: url(https://mostfeel.site:8888/static/images/web_images/bg2.png);">
    <div class="container">
      <div class="row align-items-lg-center text-lg-left space-2">
        <div class="col-lg-7">
          <h3 class="text-white h3">Duis orci odio, at dapibus</h3>
          <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        </div>
        <div class="col-lg-5 text-lg-right"> <a class="btn btn-purple mb-2 mb-sm-0 mr-sm-2" href="#">Post an Ads</a> <a class="btn btn-light mb-2 mb-sm-0" href="#">Create an Account</a> </div>
      </div>
    </div>
  </div>
</div>
<footer class="main-footer">
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class=" col-xl-3 col-xl-3 col-md-3 col-sm-6 col-xs-12 col-6 ">
          <div class="footer-col">
            <h4 class="footer-title">About us</h4>
            <ul class="list-unstyled footer-nav">
              <li><a href="#">About Company</a></li>
              <li><a href="#">For Business</a></li>
              <li><a href="#">Our Partners</a></li>
              <li><a href="#">Press Contact</a></li>
              <li><a href="#">Careers</a></li>
            </ul>
          </div>
        </div>
        <div class=" col-xl-3 col-xl-3 col-md-3 col-sm-6 col-xs-12 col-6  ">
          <div class="footer-col">
            <h4 class="footer-title">Help &amp; Contact</h4>
            <ul class="list-unstyled footer-nav">
              <li><a href="#"> Stay Safe Online </a></li>
              <li><a href="#"> How to Sell</a></li>
              <li><a href="#"> How to Buy </a></li>
              <li><a href="#">Posting Rules </a></li>
              <li><a href="#"> Promote Your Ad </a></li>
            </ul>
          </div>
        </div>
        <div class=" col-xl-3 col-xl-3 col-md-3 col-sm-6 col-xs-12 col-6  ">
          <div class="footer-col">
            <h4 class="footer-title">Account</h4>
            <ul class="list-unstyled footer-nav">
              <li><a href=""> Manage Account </a></li>
              <li><a href="">Login </a></li>
              <li><a href="">Register </a></li>
              <li><a href=""> My ads </a></li>
              <li><a href=""> Profile </a></li>
            </ul>
          </div>
        </div>
        <div class=" col-xl-3 col-xl-3 col-md-3 col-sm-6 col-xs-12 col-12">
          <div class="footer-col row">
            <div class="col-sm-12 col-xs-6 col-xxs-12 no-padding-lg">
              <div class="mobile-app-content">
                <h4 class="footer-title">Mobile Apps</h4>
                <div class="row ">
                  <div class="col-6  "> <a class="app-icon" target="_blank" href="https://itunes.apple.com/"> <img src="https://mostfeel.site:8888/static/images/web_images/app_store_badge.svg" alt="Available on the App Store"> </a> </div>
                  <div class="col-6  "> <a class="app-icon" target="_blank" href="https://play.google.com/store/"> <img src="https://mostfeel.site:8888/static/images/web_images/google-play-badge.svg" alt="Available on the App Store"> </a> </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-xs-6 col-xxs-12 no-padding-lg">
              <div class="hero-subscribe">
                <h4 class="footer-title no-margin">Follow us on</h4>
                <ul class="list-unstyled list-inline footer-nav social-list-footer social-list-color footer-nav-inline">
                  <li><a class="icon-color fb" title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Facebook"><i class="fab fa-facebook-f"></i> </a></li>
                  <li><a class="icon-color tw" title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Twitter"><i class="fab fa-twitter"></i> </a></li>
                  <li><a class="icon-color gp" title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Google+"><i class="fab fa-google-plus-g"></i> </a></li>
                  <li><a class="icon-color lin" title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Linkedin"><i class="fab fa-linkedin"></i> </a></li>
                  <li><a class="icon-color pin" title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Linkedin"><i class="fab fa-pinterest-p"></i> </a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div style="clear: both"></div>
        <div class="col-xl-12">
          <div class=" text-center paymanet-method-logo"> <img src="https://mostfeel.site:8888/static/images/web_images/master_card.png" alt="img"> <img alt="img" src="https://mostfeel.site:8888/static/images/web_images/visa_card.png"> <img alt="img" src="https://mostfeel.site:8888/static/images/web_images/paypal.png"> <img alt="img" src="https://mostfeel.site:8888/static/images/web_images/american_express_card.png"> <img alt="img" src="https://mostfeel.site:8888/static/images/web_images/discover_network_card.png"> </div>
          <div class="copy-info text-center"> © 2019 Classifly. All Rights Reserved. </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Optional JavaScript --> 
<!-- jQuery first, then Popper.js, then Bootstrap JS --> 
<script src="https://mostfeel.site:8888/static/javascripts/js/jquery.min.js" type="text/javascript"></script> 
<script src="https://mostfeel.site:8888/static/javascripts/js/popper.min.js" type="text/javascript"></script> 
<script src="https://mostfeel.site:8888/static/javascripts/js/bootstrap.min.js" type="text/javascript"></script> 
<script src="https://mostfeel.site:8888/static/javascripts/js/functions.js" type="text/javascript"></script> 
<script src="https://mostfeel.site:8888/static/javascripts/js/owl.carousel.min.js" type="text/javascript"></script> 
<script src="https://mostfeel.site:8888/static/javascripts/js/slick.js" type="text/javascript"></script> 
<script src="https://mostfeel.site:8888/static/javascripts/js/swiper.min.js" type="text/javascript"></script> 
<script src="https://mostfeel.site:8888/static/javascripts/js/main.js" type="text/javascript"></script>
</body>
</html>