<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link href="https://mostfeel.site:8888/static/stylesheets/css/style.css" type="text/css" rel="stylesheet" />
  <!-- Favicon -->
  <!-- Favicon and Touch Icons -->
  <link href="https://mostfeel.site:8888/static/images/web_images/favicon.png" rel="shortcut icon" type="image/png">
  <link href="https://mostfeel.site:8888/static/images/web_images/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="https://mostfeel.site:8888/static/images/web_images/apple-touch-icon-72x72.png" rel="apple-touch-icon"
    sizes="72x72">
  <link href="https://mostfeel.site:8888/static/images/web_images/apple-touch-icon-114x114.png" rel="apple-touch-icon"
    sizes="114x114">
  <link href="https://mostfeel.site:8888/static/images/web_images/apple-touch-icon-144x144.png" rel="apple-touch-icon"
    sizes="144x144">
  <title>Classifly - Classified Ads HTML Template</title>
  <style>
    .cflyformtheme {
      margin: 0 0 0 0;
    }

    .gradient-overlay-half-primary-v1::after {
      background-color: #ffffff;
    }
  </style>
</head>

<body>
  <header class="header-static navbar-sticky navbar-light shadow">
    <!-- Navbar top start-->
    <div class="navbar-top d-none d-lg-block">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
          </div>

          <div class="d-flex align-items-center">
            <div class="dropdown"> <a class="dropdown-toggle" href="#" role="button" id="dropdownAccount"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                  class="far fa-user mr-2"></i>Account </a>
              <div class="dropdown-menu mt-2 shadow" aria-labelledby="dropdownAccount"><a class="dropdown-item"
                  href="#">Logout</a> <a class="dropdown-item" href="#">Settings</a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Navbar top End-->

    <!-- Logo Nav Start -->
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" href="https://mostfeel.site:8888/admin/main"> <img
            src="https://mostfeel.site:8888/static/images/web_images/logo.png" style="width: 60px; height: 60px;"
            alt="iruwa"> <strong>IRUWA</strong> </a>
        <!-- Menu opener button -->
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"> <span
            class="navbar-toggler-icon"> </span> </button>
        <!-- Main Menu Start -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <!-- Menu item 1 Demos-->
            <li class="nav-item">
              <a class="nav-link" href="https://mostfeel.site:8888/admin/main">홈</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="https://mostfeel.site:8888/admin/list">업체 목록</a>
            </li>
            <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="docMenu"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">대쉬보드</a>
              <ul class="dropdown-menu" aria-labelledby="docMenu">
                <li><a class="dropdown-item" href="https://mostfeel.site:8888/admin/category">카테고리 관리</a></li>
                <li><a class="dropdown-item" href="dashboard-myads.html">공지사항 관리</a></li>
                <li><a class="dropdown-item" href="dashboard-myfavourites.html">프리미엄 광고 관리</a></li>
                <li><a class="dropdown-item" href="dashboard-offermessages.html">검색 금지어 관리</a></li>
                <li><a class="dropdown-item" href="https://mostfeel.site:8888/admin/images">이미지 관리</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- Main Menu End -->
      </div>
    </nav>
    <!-- Logo Nav End -->
  </header>


  <!-- Hero Section -->
  <div class="gradient-overlay-half-primary-v1 bg-img-hero">
    <div class="container space-2 space-4-top--lg space-3-bottom--lg">
      <div class="row align-items-lg-center">
        <div class="col-lg-12 mb-lg-0">
          <form class="cflyformtheme cflyformbannersearch">
            <fieldset>
              <div class="form-group cflyinputwithicon"> <i class="fas fa-bullhorn"></i>
                <input type="text" name="customword" class="form-control" placeholder="업체 명을 입력해주세요">
              </div>
              <div class="form-group cflyinputwithicon"> <i class="fab fa-staylinked"></i>
                <div class="cflyselect">
                  <select id="option-content">

                  </select>
                </div>
              </div>
              <Button class="cflybtn" type="button" onclick="location.href='iruwa_admin_detail.html'">Search
                Now</Button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Hero Section -->

  <section class="grayBG pt80 pb50 GridList adsDetails">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
          <div class="accordion accordion-primary" id="accordion2">
            <!-- item -->
            <div class="accordion-item">
              <div class="accordion-title"> <a class="h6 mb-0" data-toggle="collapse" href="#collapse-4">모든 카테고리</a>
              </div>
              <div class="collapse show" id="collapse-4" data-parent="#accordion2">
                <div class="accordion-content">
                  <ul id="accordion-content-categories">

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
          <div class="dashboardsection">
            <!-- Tab Content -->
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade active show" id="v-pills-Offer" role="tabpanel"
                aria-labelledby="v-pills-key-Offer-tab">
                <div class="row">
                  <div class="inbox-wrapper">
                    <div class="row">
                      <div class="col-md-12 col-lg-12">
                        <button type="button" onclick="refreshBtn();" class="btn btn-secondary hidden-sm"
                          data-toggle="tooltip" title="" data-original-title="Refresh"><span
                            class="fas fa-sync-alt"></span> </button>
                        <div class="message-tool-bar-right pull-right">
                          <span class="text-muted count-message">
                            <b>1</b>
                            -
                            <b>10</b> of <b>255</b>
                          </span>
                          <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-secondary" onclick="prev()"><span
                                class="fas fa-arrow-left"></span>
                            </button>
                            <button type="button" class="btn btn-secondary" onclick="next()"><span
                                class="fas fa-arrow-right"></span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-3 col-lg-2">
                        <ul class="nav nav-pills inbox-nav">

                        </ul>
                      </div>
                      <div class="col-md-9 col-lg-10">
                        <div class="message-list">
                          <div id="home">
                            <div class="list-group">

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Tab Content -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="main-footer">
    <div class="footer-content">
      <div class="container">
        <div class="row">
          <div class=" col-xl-3 col-xl-3 col-md-3 col-sm-6 col-xs-12 col-12">
            <div class="footer-col row">
              <div class="col-sm-12 col-xs-6 col-xxs-12 no-padding-lg">
                <div class="mobile-app-content">
                  <h4 class="footer-title">Mobile Apps</h4>
                  <div class="row ">
                    <div class="col-6  "> <a class="app-icon" target="_blank" href="https://itunes.apple.com/"> <img
                          src="https://mostfeel.site:8888/static/images/web_images/app_store_badge.svg"
                          alt="Available on the App Store"> </a> </div>
                    <div class="col-6  "> <a class="app-icon" target="_blank" href="https://play.google.com/store/">
                        <img src="https://mostfeel.site:8888/static/images/web_images/google-play-badge.svg"
                          alt="Available on the App Store"> </a> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="clear: both"></div>
          <div class="col-xl-12">
            <div class=" text-center paymanet-method-logo">
              <div class="copy-info text-center"> © 2019 Classifly. All Rights Reserved. </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://mostfeel.site:8888/static/javascripts/js/jquery.min.js" type="text/javascript"></script>
  <script src="https://mostfeel.site:8888/static/javascripts/js/popper.min.js" type="text/javascript"></script>
  <script src="https://mostfeel.site:8888/static/javascripts/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="https://mostfeel.site:8888/static/javascripts/js/isotope.pkgd.min.js" type="text/javascript"></script>
  <script src="https://mostfeel.site:8888/static/javascripts/js/imagesloaded.pkgd.min.js"
    type="text/javascript"></script>
  <script src="https://mostfeel.site:8888/static/javascripts/js/functions.js" type="text/javascript"></script>
  <script src="https://mostfeel.site:8888/static/javascripts/js/owl.carousel.min.js" type="text/javascript"></script>
  <script src="https://mostfeel.site:8888/static/javascripts/js/slick.js" type="text/javascript"></script>
  <script src="https://mostfeel.site:8888/static/javascripts/js/swiper.min.js" type="text/javascript"></script>
  <script src="https://mostfeel.site:8888/static/javascripts/js/main.js" type="text/javascript"></script>
  <script>
    let cmpList = new Array();
    getAllCompanies = async () => {
      try {
        const allCompany = await fetch('https://mostfeel.site:8888/admin/all', {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json'
          }
        });

        let json = await allCompany.json();
        if (allCompany.ok) {
          cmpList = json;
        }
      } catch (err) {
        console.log(err);
      }
    }
    getAllCategories = async () => {
      try {
        const resCategories = await fetch('https://mostfeel.site:8888/admin/categories', {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json'
          }
        });
        let json = await resCategories.json();
        if (resCategories.ok) {
          var ulForm = document.getElementById('accordion-content-categories');
          var selectForm = document.getElementById('option-content');
          for (var i = 0; i < json.length; i++) {
            var li = document.createElement('li');
            li.innerHTML = `<button class="categories-btn" onclick="Initial(` + json[i].category_seq + `)"><img src="` + json[i].uri + `" style="width : 30px; height : 30px; background-color: #15bac1; padding:5px; border-radius: 30px; margin-right : 10px;">` + json[i].category_name + `(` + json[i].count + `)</button>`;
            ulForm.appendChild(li);

            var option = document.createElement('option');
            option.innerHTML = `<option value="` + json[i].category_seq + `">` + json[i].category_name + `</option>`
            selectForm.appendChild(option);
          }

          let myBtns = document.querySelectorAll('.categories-btn');
          myBtns.forEach(function (btn) {
            btn.addEventListener('click', () => {
              myBtns.forEach(b => b.classList.remove('active'));
              btn.classList.add('active');
            });
          });
        }

      } catch (err) {
        console.log(err);
        alert('카테고리를 불러오는데 실패하였습니다.');
      }
    }
    renewDueDate = async (data) => {
      try {
        let response = await fetch('https://mostfeel.site:8888/admin/renew', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ cmp_seq: data })
        })

        let json = await response.json();
        if (response.ok) {
          alert(json.message)
        }
      } catch (err) {
        console.log(err);
      }
    }

    setPremium = async () => {
      try {
        let response = await fetch('https://mostfeel.site:8888/admin/setpremium', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ cmp_seq: data })
        })

        let json = await response.json();
        if (response.ok) {
          alert(json.message)
        }
      } catch (err) {
        console.log(err);
      }
    }

    $(document).ready(async () => {
      getAllCompanies();
      getAllCategories();
    });

    let newArray;
    let onServiceArray;
    let outServiceArray;
    let currentArrayNum = 1;
    let currentPage;
    let category_code;
    Initial = (category_seq) => {
      category_code = category_seq;
      var current = new Date().toISOString();
      newArray = cmpList.filter(data => data.category_seq == category_seq);
      onServiceArray = newArray.filter(data => data.ads_date >= current);
      outServiceArray = newArray.filter(data => data.ads_date < current);
      var ulForm = document.getElementsByClassName('inbox-nav')[0];
      while (ulForm.hasChildNodes()) { ulForm.removeChild(ulForm.firstChild); }

      ulForm.innerHTML = `<li class="nav-item active" onclick="setArrayType(` + 1 + `)"><a class="nav-link">전체<span class="badge badge-gray count">` + newArray.length + `</span></a></li>
      <li class="nav-item" onclick="setArrayType(` + 2 + `)"><a class="nav-link">납부<span class="badge badge-gray count">` + onServiceArray.length + `</span></a></li>
      <li class="nav-item" onclick="setArrayType(` + 3 + `)"><a class="nav-link">미납<span class="badge badge-gray count">` + outServiceArray.length + `</span></a></li>`;

      let navBtns = document.querySelectorAll('.nav-item');
      navBtns.forEach(function (btn) {
        btn.addEventListener('click', () => {
          navBtns.forEach(b => b.classList.remove('active'));
          btn.classList.add('active');
        });
      });
      currentPage = 1;
      setArrayType(1)
    }

    refreshSetter = () => {
      var category_seq = category_code;
      var current = new Date().toISOString();
      newArray = cmpList.filter(data => data.category_seq == category_seq);
      onServiceArray = newArray.filter(data => data.ads_date >= current);
      outServiceArray = newArray.filter(data => data.ads_date < current | !data.ads_date);
      var ulForm = document.getElementsByClassName('inbox-nav')[0];
      while (ulForm.hasChildNodes()) { ulForm.removeChild(ulForm.firstChild); }

      ulForm.innerHTML = `<li class="nav-item active" onclick="setArrayType(` + 1 + `)"><a class="nav-link">전체<span class="badge badge-gray count">` + newArray.length + `</span></a></li>
      <li class="nav-item" onclick="setArrayType(` + 2 + `)"><a class="nav-link">납부<span class="badge badge-gray count">` + onServiceArray.length + `</span></a></li>
      <li class="nav-item" onclick="setArrayType(` + 3 + `)"><a class="nav-link">미납<span class="badge badge-gray count">` + outServiceArray.length + `</span></a></li>`;

      let navBtns = document.querySelectorAll('.nav-item');
      navBtns.forEach(function (btn) {
        btn.addEventListener('click', () => {
          navBtns.forEach(b => b.classList.remove('active'));
          btn.classList.add('active');
        });
      });
      setArrayType(currentArrayNum)
    }

    setArrayType = (data) => {
      currentArrayNum = data;
      switch (currentArrayNum) {
        case 1:
          setArray = newArray;
          break;
        case 2:
          setArray = onServiceArray;
          break;

        case 3:
          setArray = outServiceArray;
          break;
      }
      setCompanyList(setArray)
    }

    setCompanyList = (setArray) => {
      var divForm = document.getElementsByClassName('list-group')[0];
      while (divForm.hasChildNodes()) { divForm.removeChild(divForm.firstChild); }
      var length;
      if (setArray.length > 10) {
        length = 10;
      } else {
        length = setArray.length;
      }
      for (var i = 0; i < length; i++) {
        var newDiv = document.createElement('div');
        newDiv.setAttribute('class', 'list-group-item');
        newDiv.innerHTML = `<a class="list-box-content"> <span class="title">` + setArray[i].cmp_name + `</span>
                                  <div class="message-text">` + setArray[i].cmp_detail_location + `
                                  </div>
                                  <div class="time">`+ setArray[i].ads_date.substring(0, 10) + `</div>
                                </a>
                                <div class="list-box-action">
                                  <button onclick="setPremium(` + setArray[i].cmp_seq + `)" style="flex-direction : row; width : 100%">
                                    <p>프리미엄 허가</p>
                                  </button>
                                  <button onclick="renewDueDate(` + setArray[i].cmp_seq + `)" style="flex-direction : row; width : 100%">
                                    <p>기간 연장</p>
                                  </button>
                                  <button onclick="pauseCompany(` + setArray[i].cmp_seq + `)" style="flex-direction : row; width : 100%">
                                    <p>등록 중지</p>
                                  </button>
                                </div>`
        divForm.appendChild(newDiv);
      }
      var endIndex;
      if (currentPage * 10 > setArray.length) {
        endIndex = setArray.length;
      } else {
        endIndex = currentPage * 10;
      }
      var startIndex = (currentPage - 1) * 10 + 1;
      var newSpan = document.getElementsByClassName('count-message')[0];
      newSpan.innerHTML = `<b>` + startIndex + `</b>-<b>` + endIndex + `</b> of <b>` + setArray.length + `</b>`
    }
    next = () => {
      currentPage += 1;
      switch (currentArrayNum) {
        case 1:
          setArray = newArray;
          break;
        case 2:
          setArray = onServiceArray;
          break;

        case 3:
          setArray = outServiceArray;
          break;
      }
      paginate(setArray);
    }

    prev = () => {
      currentPage -= 1;
      switch (currentArrayNum) {
        case 1:
          setArray = newArray;
          break;
        case 2:
          setArray = onServiceArray;
          break;

        case 3:
          setArray = outServiceArray;
          break;
      }
      paginate(setArray)
    }

    function paginate(data) {
      var totalItems = data.length;
      var pageSize = 10;
      let totalPages = Math.ceil(totalItems / pageSize);
      // ensure current page isn't out of range
      if (currentPage < 1) {
        currentPage = 1;
      } else if (currentPage > totalPages) {
        currentPage = totalPages;
      }

      var rawArray = new Array();
      var endIndex;
      if (currentPage * 10 > setArray.length) {
        endIndex = setArray.length;
      } else {
        endIndex = currentPage * 10;
      }
      for (var i = (currentPage - 1) * 10; i < endIndex; i++) {
        rawArray.push(setArray[i])
      }
      setCompanyList(rawArray);
    }

    refreshBtn = async () => {
      await getAllCompanies();
      refreshSetter()
    }
  </script>

</body>

</html>