<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link href="https://mostfeel.site:8888/static//stylesheets/css/style.css" type="text/css" rel="stylesheet" />
  <!-- Favicon -->
  <!-- Favicon and Touch Icons -->
  <link href="https://mostfeel.site:8888/static/images/web_images/favicon.png" rel="shortcut icon" type="image/png">
  <link href="https://mostfeel.site:8888/static/images/web_images/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="https://mostfeel.site:8888/static/images/web_images/apple-touch-icon-72x72.png" rel="apple-touch-icon"
    sizes="72x72">
  <link href="https://mostfeel.site:8888/static/images/web_images/apple-touch-icon-114x114.png" rel="apple-touch-icon"
    sizes="114x114">
  <link href="https://mostfeel.site:8888/static/images/web_images/apple-touch-icon-144x144.png" rel="apple-touch-icon"
    sizes="144x144">
  <title>Classifly - Classified Ads HTML Template</title>
</head>

<body>
  <header class="header-static navbar-sticky navbar-light shadow">
    <!-- Navbar top start-->
    <div class="navbar-top d-none d-lg-block">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
          </div>

          <div class="d-flex align-items-center">
            <div class="dropdown"> <a class="dropdown-toggle" href="#" role="button" id="dropdownAccount"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                  class="far fa-user mr-2"></i>Account </a>
              <div class="dropdown-menu mt-2 shadow" aria-labelledby="dropdownAccount"><a class="dropdown-item"
                  href="#">Logout</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Navbar top End-->

    <!-- Logo Nav Start -->
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" href="https://mostfeel.site:8888/admin/main"> <img
            src="https://mostfeel.site:8888/static/images/web_images/logo.png" style="width: 60px; height: 60px;"
            alt="iruwa"> <strong>IRUWA</strong> </a>
        <!-- Menu opener button -->
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"> <span
            class="navbar-toggler-icon"> </span> </button>
        <!-- Main Menu Start -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <!-- Menu item 1 Demos-->
            <li class="nav-item">
              <a class="nav-link" href="https://mostfeel.site:8888/admin/main">홈</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="https://mostfeel.site:8888/admin/list">업체 목록</a>
            </li>
            <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="docMenu"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">대쉬보드</a>
              <ul class="dropdown-menu" aria-labelledby="docMenu">
                <li><a class="dropdown-item" href="https://mostfeel.site:8888/admin/category">카테고리 관리</a></li>
                <li><a class="dropdown-item" href="https://mostfeel.site:8888/admin/service">서비스 관리</a></li>
                <li><a class="dropdown-item" href="https://mostfeel.site:8888/admin/images">이미지 관리</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- Main Menu End -->
      </div>
    </nav>
    <!-- Logo Nav End -->
  </header>

  <section class="grayBG pt80 pb50 GridList adsDetails OurServices dashboardsection">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

          <!-- Tab Content -->
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane active" id="v-pills-Profile" role="tabpanel" aria-labelledby="v-pills-key-Profile-tab">
              <div class="row">
                <div class="classi-ads-detail">
                  <div class="account-overview">
                    <div class="row">
                      <div class="col-sm-12">
                        <h4 class="profile-heading">ACCOUNT OVERVIEW</h4>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-9">
                        <div class="classi-author-account">
                          <div class="classifi-account-view" id="total-cnt">
                          </div>
                          <div class="classifi-account-view" id="normal-cnt">
                          </div>
                          <div class="classifi-account-view" id="premium-cnt"> <span>Featured ads left :</span>
                            <p class="text-right">19</p>
                          </div>
                          <div class="classifi-account-view" id="cancel-cnt"> <span>Featured ads left :</span>
                            <p class="text-right">19</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="author-images"></div>
                        <div class="classauthor-title">
                          <p>John Deo</p>
                        </div>
                        <div class="author-setting">
                          <p>Setting</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="author-profile-details">
                          <h4 class="profile-heading">CONTACT DETAILS</h4>
                          <ul id="profile-info">
                            
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="main-footer">
    <div class="footer-content">
      <div class="container">
        <div class="row">
          <div class=" col-xl-3 col-xl-3 col-md-3 col-sm-6 col-xs-12 col-12">
            <div class="footer-col row">
              <div class="col-sm-12 col-xs-6 col-xxs-12 no-padding-lg">
                <div class="mobile-app-content">
                  <h4 class="footer-title">Mobile Apps</h4>
                  <div class="row ">
                    <div class="col-6  "> <a class="app-icon" target="_blank" href="https://itunes.apple.com/"> <img
                          src="https://mostfeel.site:8888/static/images/web_images/app_store_badge.svg"
                          alt="Available on the App Store"> </a> </div>
                    <div class="col-6  "> <a class="app-icon" target="_blank" href="https://play.google.com/store/">
                        <img src="https://mostfeel.site:8888/static/images/web_images/google-play-badge.svg"
                          alt="Available on the App Store"> </a> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="clear: both"></div>
          <div class="col-xl-12">
            <div class=" text-center paymanet-method-logo">
              <div class="copy-info text-center"> © 2019 Classifly. All Rights Reserved. </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://mostfeel.site:8888/static//javascripts/js/jquery.min.js" type="text/javascript"></script>
  <script src="https://mostfeel.site:8888/static//javascripts/js/popper.min.js" type="text/javascript"></script>
  <script src="https://mostfeel.site:8888/static//javascripts/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="https://mostfeel.site:8888/static//javascripts/js/functions.js" type="text/javascript"></script>
  <script src="https://mostfeel.site:8888/static//javascripts/js/owl.carousel.min.js" type="text/javascript"></script>
  <script src="https://mostfeel.site:8888/static//javascripts/js/slick.js" type="text/javascript"></script>
  <script src="https://mostfeel.site:8888/static//javascripts/js/swiper.min.js" type="text/javascript"></script>
  <script src="https://mostfeel.site:8888/static//javascripts/js/main.js" type="text/javascript"></script>
  <script>
    $(document).ready(async () => {
      let params = new URL(document.location).searchParams;
      var a = params.get('ccode');
      await getInfo(a);
    });

    getInfo = async (a) => {
      try {
        let response = await fetch('https://mostfeel.site:8888/admin/detail/company', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ cmp_seq: a })
        });

        let json = await response.json();
        if (response.ok) {
          setCompanyInfo(json);
          setAdsInfo(json.item);
        }
      } catch (err) {
        console.log(err);
      }
    }
    setCompanyInfo = (data) => {
      var totalCnt = data.item.length;
      var normalCnt = data.item.filter((item) => item.ads_type == 0).length;
      var premiumCnt = data.item.filter((item) => item.ads_type == 1).length;
      var cancelledCnt = data.item.filter((item) => item.cancelled == 1).length;
      console.log('total : ', totalCnt, 'normal : ', normalCnt, 'premium : ', premiumCnt, 'cancel : ', cancelledCnt);
      var total = document.getElementById('total-cnt');
      var normal = document.getElementById('normal-cnt');
      var premium = document.getElementById('premium-cnt');
      var cancel = document.getElementById('cancel-cnt');
      total.innerHTML = `<span>전체 광고 :</span><p class="text-right">` + totalCnt + `</p>`;
      normal.innerHTML = `<span>일반 광고 :</span><p class="text-right">` + normalCnt + `</p>`;
      premium.innerHTML = `<span>프리미엄 광고 :</span><p class="text-right">` + premiumCnt + `</p>`;
      cancel.innerHTML = `<span>삭제된 광고 :</span><p class="text-right">` + cancelledCnt + `</p>`;

      var profile = document.getElementsByClassName('author-images')[0];
      // profile.innerHTML =  <img src="images/img-22.jpg">
      var img = document.createElement('img');
      img.src = data.cmp[0].profile;
      profile.appendChild(img);

      var profileInfo = document.getElementById('profile-info');
      profileInfo.innerHTML = `<li> <i class="fa fa-map-marker"></i>` + data.cmp[0].cmp_detail_location + `</li>
                            <li> <i class="fa fa-phone"></i>` + data.cmp[0].cmp_phone + `</li>`
    }
  </script>
</body>

</html>