body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: url('../images/components/backgroundimage.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    min-height:80vh;
  }
  a {
    color: #00B7FF;
  }